<html>
  <head>
    <title>Doko Online Store</title>  
    <link rel="stylesheet" type="text/css" href="/css/details.css">
  </head>
  <body>
    {{>header}}
<section class="product">
	<div class="product__photo">
		<div class="photo-container">
			<div class="photo-main">
				<div class="controls">
					<i class="material-icons">share</i>
					<i class="material-icons">favorite_border</i>
				</div>
				<img src="{{product.image}}">
			</div>
		</div>
	</div>
	<div class="product__info">
		<div class="title">
			<h1>{{product.title}}</h1>
		</div>
		<div class="price">
			R$ <span>{{product.price}}</span>
		</div>
		<div class="description">
			<h3>BENEFITS</h3>
			<ul>
				<li>Apples are nutricious</li>
				<li>Apples may be good for weight loss</li>
				<li>Apples may be good for bone health</li>
				<li>They're linked to a lowest risk of diabetes</li>
			</ul>
		</div>
		<button class="buy--btn">ADD TO CART</button>
	</div>
</section>

</body>
</html>